*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --headerFonts: new;
    --normalTextFont: new;
    --mainBgColor: #d1d5db;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 98.5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--mainBgColor);
    flex-grow: 1;
}


/* Header */
header {
    display: grid;
    min-height: 10vh;
    grid-template-columns: repeat(3 , 1fr);
    align-content: center;
    border-bottom: 2px solid grey;
    box-shadow: 0px 0px 5px currentcolor;
}

header img {
    width: 70px;
    height: auto;
    align-self: center;
    margin-left: 5px;
    cursor: pointer;
}

header h2 {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 2.5rem;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header button{
    justify-self: end;
    align-self: center;

    max-width: 12vw;
    min-width: 10vw;
    height: 6vh;

    background-color: transparent;
    border: none;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

header button:hover {
    scale: 0.97;
    opacity: 0.6;
}

header button img{
    align-self: center;
    justify-self: center; 
}

/* MAIN */


#main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin: 10px;
}

#main div p{
    font-size: 1.5rem;
    background-color: transparent;
    border-style: none;
    text-align: center;
}


#main .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: transparent;
    height: 100px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

#main .box button {
    align-self: flex-end;
    border: none;
    background-color: lightcoral;
    font-size: 1rem;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}
/* Projects */
#projects {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.project{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #c2c3c5;
    font-size: 2rem;
    width: 100%;
}

.project-header .delete-project{
    align-self: flex-start;
    flex-grow: 0;
    border: none;
    background-color: lightcoral;
    font-size: 2rem;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 8px;
    cursor: pointer;
}

.project-header {
    flex-grow: 1;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 3px;
    margin-bottom: 10px;
}

.project .project-header{
    display: flex;
    justify-content: space-between;
}

.project .tasks{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.project .task{
    display: flex;
    gap: 20px;
    align-items: center;
}

.task .delete-task{
    border: none;
    background-color: lightcoral;
    font-size: 2rem;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 8px;
    cursor: pointer;
}

/* ADD NEW LIST */
#add-new-list {
    justify-self: flex-end;
    align-self: flex-end;
}
#add-new-list button{
    font-size: 3rem;
    background-color: rgb(74, 234, 74);
    border-style: none;
    border-radius: 36px;
    padding: 0.5rem 1.3rem;
    margin: 5px 5px;
    cursor: pointer;
}
#add-new-list button:hover{
    scale: 0.96;
    font-size: 2.9rem;
    background-color: rgb(106, 237, 106);
    transform: rotate(160deg); 
}

/* NEW LIST */
#new-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;

    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(175, 178, 175);
    font-size: 1.5rem;
    padding: 20px 10px;
    border-radius: 8px;
}

#new-list .buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    border-style: none;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

#cancel{
    background-color: lightcoral;
}

#create-list{
    background-color: lightgreen;
}


#list-name {
    font-size: 1.5rem;
    padding: 10px;
}

